{% extends 'shared/base.html' %}
{% block title %}Créer une facture{% endblock %}
{% block content %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <ul class="mb-0">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <h3 class="mb-4">Sélectionner vos produits</h3>

    <form method="post">
        {% csrf_token %}
        <div class="table-responsive rounded-3 shadow-lg border border-secondary" style="overflow-x: auto;">
            <table class="table table-dark table-hover table-striped align-middle mb-0">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Expiration Date</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for row in form.product_rows %}
                    <tr>
                        <td>{{ row.product.name }}</td>
                        <td>{{ row.product.price }} €</td>
                        <td>{{ row.product.expiration_date }}</td>
                        <td>{{ row.field }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination-controls">
            <div class="d-flex justify-content-between mt-2">
                <button type="submit" class="btn btn-outline-danger" name="cancel">Annuler ma commande</button>
                {% if page_obj.has_previous %}
                    <button name="prev" value="1" class="btn btn-secondary">Précédent</button>
                {% endif %}
                {% if page_obj.has_next %}
                    <button name="next" value="1" class="btn btn-primary">Suivant</button>
                {% else %}
                    <button type="submit" class="btn btn-primary" name="order">Commander</button>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}